body{
    margin: 0px;
    font-family:  Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.header{
    width:100%;
    height:90px;
    background:#128C7E;
    
}
.logo{
    width:20%;
   float:left;
    padding-left: 100px;
    padding-top: 25px;
}
.head{
    float:left;
    color: #fff;
   
    font-size: 16px;
    font-weight: 400;
}
.nav-bar{
    display: flex;
}
.nav-bar li{
    list-style: none;
    padding: 20px;
}
.nav-bar i{
    padding-right: 5px;
}
.main{
    width:100%;
    height:1500px;
    
}
.main1{
    width:30%;
    background:#fff;
    height: 38%;
    float:left;
   
    padding-left: 250px;
    padding-top: 100px;
}
#para1{
    font-size: 18px;
    line-height: 26px;
}
#para0{
    font-size: 33px;
    line-height: 43px;
}
#para2{
    font-size: 16px;
    line-height: 25px;
    color:#5E5E5E;
}
.main2{
    width:50%;
    background:#fff;
    height: 47%;
    float:left;
}
.main3{
    width:48%;
    background:#D8E8EA;
    height: 60%;
    float:left;
    
}
.main4{
    width:48%;
    background:#E7F0E4;
    height: 60%;
    float:right;
}
.image{
    width: 300px;
    height: 600px;
    padding-top: 50px;
    padding-left: 80px;
}
#para3{
    font-weight: bold;
    padding-top: 50px;
    padding-left: 100px;
    font-size: 34px;
}
.para4{
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    padding-top: 20px;
}
.select{
    background-color: #128C7E;
    color: #fff;
    border-color: #128C7E;
}
 a{
    color: #39b3ed;
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
} 
.icons{
    line-height: 35px;
    color:  #1CB39B;

}
span{
    color: #1CB39B;
    text-decoration: none;
    cursor: pointer;
    margin-left: 20px;
}
span:hover{
    text-decoration: underline;
}
.image2{
    height:380px;
    width:300px;
    padding-left: 150px;
    padding-top: 100px;
}
.round{
    height: 350px;
    width:350px;
    margin-left: 130px;
    margin-top: 90px;
    border-radius: 50%;
    background: #77d7c8;
    position: absolute;
}
.box{
    width:180px;
    height: 60px;
    margin-left: 90px;
    margin-top: 140px;
    background:#E7F0E4 ;
    border-radius: 10px;
}
.para5{
    padding-top: 500px;
    text-align: center;
    font-size: 16px;
    letter-spacing: .15em;
    font-weight: 700;
    color: #5E5E5E;
}
.para6{
    font-size: 34px;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
}
.para7{
    font-size: 18px;
    line-height: 26px;

    text-align: center;
}
.footer1{
    width:100%;
    height:300px;
}
.data1{
    color: #128c7e;
    background: #fff;
    border-color: #77d7c8;
    margin-left: 530px;
    margin-top: 60px;
    border-radius: 45px;
    height: 50px;
    width:200px;
    font-size: 16px;;

}
.title{
   padding:50px;
   list-style: none;
   margin-left: 30px;
   color: #fff;
   font-weight: bold;
   letter-spacing: .1em;
   

}
.list{
    padding-left:50px ;
    list-style: none;
    margin-left:30px ;
    color: #fff;
    font-weight: 400;
    letter-spacing: .1em;
    line-height: 26px;
}
.footer2{
    width:100%;
    height:350px;
    background: #37414f;
    display: flex;
    
}
.footer3{
    width:90.5%;
    height:70px;
    background: black;
    color: #fff;
    font-weight: 400;
    padding-left: 120px;
    padding-top: 18px;
    letter-spacing: .05em;
}
.list:hover{
    text-decoration: underline;
}
.end1{
    color: #fff;
    width:50%;
    float: left;
}
.end2{
    color: #fff;
    width:50%;
    float: left;
    margin-bottom:20px ;
   
}